* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.container {
  display:flex;
}


.item1 {
  background-color: firebrick;
  flex-grow: 1;
  /*  1/3 */
}

.item2 {
  background-color: limegreen;
  flex-grow: 1;
}

.item3 {
  background-color: mediumslateblue;
  flex-grow: 1;
}

@media only screen and (min-width: 800px) {
  .item1 {
    background-color: blue;
  }

  .item2 {
    background-color: cornflowerblue;
    border: 2px solid green;
  }
}


@media only screen and (max-width: 400px) {
  .container {
    /* display: block */
    flex-direction: column-reverse;
    background-color: hotpink;
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 550px) {
  .container {
    position: absolute;
  }
  .item1 {
    position: absolute;
  }
  .item2 {
    position: absolute;
  }
  .item3 {
    position: absolute;
  }
}