* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  background-color: lightgreen;
}

body {
    display:flex;
}

.item1 {

    flex-grow: 1;
}

.item2 {
    flex-grow: 1;
}

.item3 {
    flex-grow: 1;
}

/* Media Quaries */

@media only screen and (max-width: 500px) {
    body {
        flex-direction: column;
    }
}

