<h1>Hello World!!</h1>

<h2>Here are My Farms</h2>
<% @farms.each do |farm| %>
    <div>
        <h2>Name:<%= farm.name %></h2>
        <h3>Created at: <%= farm.created_at %></h3>
        <img src="<%= farm.img %>"/>
        <%= link_to "Click to go to the farm", farm_path(farm.id) %>
    </div>
<% end %>