
      .hobbies p {
        background-color: lightgreen;
      }

      .hobbies > ul {
        background-color: aquamarine;
      }

      .box {
        border: 1px solid red;
        padding-top: 150px;
      }
      