* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

 section {
   width: 150px;
   background-color: blue;
 }

 p {
 width: 100%;
 padding: 16px;
}



header {
  color: white;
  background-color: darkblue;
  padding: 3px;
}

.card {
  background-color: lightgrey;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  margin-top: 300px;
  box-shadow: 1px 1px 5px gray;
  margin-left: 128px;
  margin-right: 128px;
  margin-bottom: 32px;
}

.card-image {
  margin-top: -170px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

footer p {
  color: green;
  background-color: aqua;
}

.awesome-nav-bar {
  background-color: blueviolet;
  border-radius: 20%;
}

#last-paragraph {
  color: black;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  background-color: orange;
}

.card-caption {
  font-size: 24px;
  font-weight: bolder;
}