
      .profile-img {
        width: 400px;
        border: 3px solid red;
        border-radius: 50%;
      }

      .bg-indigo {
        background-color: indigo;
      }

      h1.page-header {
        padding: 20px;
        color: royalblue
      }

      h1.page-header:hover {
        background-color: red;
      }

      #profile-title {
        background-color: red;
      }

      .footer {
        background-color: fuchsia;
        color: goldenrod;
      }

      /* // let x = 2; */
      .f2 {
        background-color: green;
      }
      /* // x = 4; */
      #alsofooter {
        background-color: crimson;
      }
