* {
  margin: 0;
  padding: 0;
}

.movie {
  background-color: darksalmon;
  display: flex;
  padding: 12px;
  margin: 15px;
}

.movie:hover {
  background-color: salmon;
}

.movie--img {
  width: 110px;
}

.movie--info {
  padding-left: 15px;
}


#movie--search {
  text-align: center;
  background-color: cadetblue;
  padding: 30px;
}