* {
  margin: 0;
  padding: 0;
}


.show {
  padding: 15px;
  align-items: center;
  display: flex;
  background-color: mediumslateblue;
  border: 2px solid salmon;
}


.show--img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.show--desc {
  padding: 20px;
}

.show--title {
  color: orange;
}

#form {
  text-align: center;
    padding-top: 20px;
    background-color: cornflowerblue;
    padding-bottom: 15px;
}