<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <p>Welcome</p>
  <form method="POST" action="/login">
    <p>User:<input type="text" name="user"/></p>
    <p>Pass:<input type="password" name="password"></p>
    <button>Login</button>
  </form>
</body>
</html>