<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMES SINGLE</title>
</head>
<body>
    <h2>Single Meme Right here!!</h2>
    <img src="<%= singleMeme %>"/>
</body>
</html>