<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a new Meme!!!</title>
</head>
<body>
    <form method="POST" action="/memes">
        <p><input name="new_meme" type='text'/></p>
        <p><button>Submit a Meme!!</button></p>
    </form>
</body>
</html>