<h1>Add URL Here!</h1>

<form method="POST" action="/urls">
  <p>Enter url:<input type="text" name="longURL"/></p>
  <button>Add</button>
</form>

<%= form_for Url.new do |form| %>
  <p> Enter url:<%= form.text_field :longURL %></p>
  <%= form.submit 'Add' %>
<% end %>
