<h1>Show me all the cats </h1>


<ul>
<%# Orders Activity %>
<%# Orders ----has many ----> line_items ----1 to 1 ---> product %>
<%# JOIN  %>
<% @cats.each do |cat| %>
    <li><%= cat.name %> <%= cat.color %> <%= cat.owner.name %></li>
<% end %>
</ul>