<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Check out these memes</h1>

    <% for (let meme in memes) { %>
        <img src="<%= memes[meme] %>"/>
        <a href="/memes/<%=meme%>">MORE INFO HERE</a>
        <form method="POST" action="/memes/<%=meme%>/delete">
            <button>DELETE ME!!!</button>
        </form>
    <% } %>
</body>
</html>