<%- include('partials/_header') -%>
<body>
	<%- include('partials/_nav')-%>
	<h1>Deparments</h1>
	<ul>
		<% for (let department of departments) {%>
			<li><%= department.name %></li>
		<% } %>
	</ul>
</body>
<%- include('partials/_footer') -%>