<%- include('partials/_header') -%>
<body>
	<%- include('partials/_nav')-%>
		<div class='tc'>
			<h2>Departments</h2>
			<% for (let department of locals.departments) {%>
				<li><%= JSON.stringify(department) %> </li>
			<% } %>
		</div>

</body>
<%- include('partials/_footer') -%>