<h1>Create URL Here :)</h1>


<form method="POST" action="/urls">
    <p> url: <input type='text' name='longURL'/> </p>
    <button> Add new URL!</button>
</form>

<%=  form_for :url, url: urls_path  do |form| %>
    <p> url: <%= form.text_field :longURL %> </p> 
    <%= form.submit %>
<% end %>