<h1>Form</h1>

<form action="/urls" method="POST">
  <p>Long URL:<input type="text" name='longURL'/></p>
  <button>submit</button>
</form>

<%= form_for Url.new do |form| %>
  <p> Long URL: <%= form.text_field :longURL %></p>
  <%= form.submit 'Submit!' %>
<% end %>