<h1>create urls here</h1>

<form action="/urls" method="POST">
  <p>Enter a long URL: <input type="text" name="longURL"/></p>
  <button>Submit</button>
</form>


<%= form_for Url.new do |form| %>
  <p>Enter a long URL:<%=form.text_field :longURL %> </p>
  <%= form.submit 'Submit' %>
<%end%>