<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fresh memes!</h1>
    <%  for (meme in list) {%>
        <li>
            <img style="width: 320px" src="<%= list[meme]%>"/>
        </li>
    <% }%>
</body>
</html>