body {
  background-color: black;
  color: white;
}


.show {
  padding: 20px;
  background-color: #131c2a;
  display: flex;
  margin-bottom: 10px;
}

.show--img {
  width: 165px;
}

.show--desc {
  padding-left: 35px;
}

#search-form {
  margin: 30px;
  display: flex;
  justify-content: center;
  background-color: palevioletred;
  padding: 40px;
}