body {
  background-color: black;
  color: white;
}

.movie {
  display: flex;
  padding: 25px;
  background-color: #090923;
  margin: 20px;
}

.movie:hover {
  background-color: #0e244c;
}

.movie--img {
  width: 225px;
  height: 300px;
  object-fit: cover;
}

.movie--desc {
  margin-left: 10px;
}

.movie--search {
  text-align: center;
  padding: 40px;
  background-color: tomato;
}