.show {
  display: flex;
  background-color: bisque;
  padding: 12px;
}

.show:hover {
  background-color: chocolate;
}

.show--cover {
  width: 140px;
  height: 200px;
  object-fit: cover;
}

.show--info {
  margin-left: 15px;
}