$wow-color: #c6538c;

.test {
    background-color: blue;
    padding: 5px;
    .wow {
      color: yellow;
      background-color: $wow-color;
      &:hover {
        color: black;
      }
    }

    &:hover {
        background-color: red;
    }
}
