<h1>add a url here!</h1>

<form method="POST" action="/urls">
  <p>Enter URL: <input type="text" name="longURL" />
  <button>Submit</button>
</form>  


<%= form_for Url.new do |form| %>
  <p>Enter URL: <%= form.text_field :longURL %>
  <%= form.submit 'submit' %>

<% end %>