<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage!</title>
</head>
<body>
    <h2>Welcome to our Home Page</h2>
    <h1><%= 2 + 2 %></h1>
    <input type='text' value="<%= 'hello' + 'world' %>"/>
    <h4><a href="/memes">Lets go look at gordon ramsey memes!</a></h4>
</body>
</html>