<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memes - Index</title>
</head>
<body>
    <h2>Here is all of our Memes</h2>
    <a href="/memes/new">ADD A NEW FRESH MEME!!!</a>
    <% for (let meme in listOfMemes) { %>
        <li>
            <img src="<%= listOfMemes[meme] %>"/>
            <a href="/memes/<%= meme %>">CLICK HERE TO GO TO THIS MEME</a>
            <form action="/memes/<%= meme %>/delete" method="POST">
                <button>DELETE</button>
            </form>
        </li>
    <% } %>
</body>
</html>