.profile {
  background-color: salmon;
  width: 25%;
  margin: auto;
  padding: 3px;
  text-align: center;
}


.profile__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}


.profile:hover {
  background-color: red;
}