<h1>Add New URL!</h1>

<form method="POST" action="/urls">
  <p>Enter URL: <input type="text" name="longURL"/></p>
  <button>Add</button>
</form>


<%= form_for Url.new do |form| %>
  <p>Enter URL: <%= form.text_field :longURL %> </p>
  <%= form.submit 'Add' %>

<% end %>