<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a Mug</title>
</head>
<body>
  <h1>Add A mug</h1>
  <form method="POST" action="/catmugs">
    <p>Name: <input type="text" name="mug_name"></p>
    <p>Picture: <input type="text" name="pic"></p>
    <p>Price: <input type="text" name="price"></p>

    <button>Submit</button>
  </form>
</body>
</html>