<!DOCTYPE html>
<html>
<head>
  <title>Memes Page</title>
</head>
<body>
  <ul>
    <% for (let i in memes) { %>
      <li>
        <img style="width: 200px; height:200px; object-fit: cover;"src="<%= memes[i].picture %>" />
        <a href="/memes/<%= i %>">CLICK HERE to go to this specific meme</a>
      </li>
    <% } %>
  </ul>
</body>
</html>