<!DOCTYPE html>
<html>
<head>
  <title>New Meme</title>
</head>
<body>
  <form method="POST" action="/memes">
    <p>Image URL Link
      <input type='text' name="urlLink"/>
    </p>
    <button>Add Meme</button>
  </form>
</body>
</html>