<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
</head>
<body>
  <h1>This is my homepage but we'll be adding memes soon! :)</h1>
</body>
</html>