<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>One Meme</title>
</head>
<body>
  <h1> You are viewing this SELECTED meme</h1>
  <img src="<%= meme %>"/>
  <form method="POST" action="/memes/<%= meme_id %>/delete">
    <button>Delete?</button>
  </form>
</body>
</html>