.card {
    margin: 5px;
    padding: 25px;
    text-align: center;
    background-color: whitesmoke;
    width: 500px;
    border: 1px solid black;
    border-radius: 2px;
}

.card--img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid limegreen;
}