<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Fresh Meme!</title>
</head>
<body>
    <h1>Make a meme here</h1>
    <form action="/memes" method="POST">
        <input name="memeURL"/>
        <button>Add a fresh meme</button>
    </form>
</body>
</html>