.meme-form {
    background-color: bisque;
    text-align: center;
    margin: 4px;
    padding: 10px;
}

.meme-form > button {
    background-color: coral;
    border: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}