<!DOCTYPE html>
<html>
<head>
  <title>number</title>
</head>
<body>
  <h1>The Number is 24</h1>
  <form method="POST" action="/apples">
    <button>Click me for POST REQUEST</button>
  </form>
</body>
</html>