<!DOCTYPE html>
<html>
<head>
  <title>Specific Number</title>
</head>
<body>
  <p>The number the user entered in the params is </p>
  <%= userNumber %>
  <%= array %>

  <% if (userNumber == 1111) { %>
    <p>Hello test user </p>
  <% } %>

  <% for ( let item of array ) {%>
   <li>The item is <%= item %></li>
  <% }%>

</body>
</html>