<h1>Create new URL</h1>

<form method="POST" action="/urls">
    <p>LONG URL: <input type="text" name="longURL" /></p>
    <button>ADD URL</button>
</form>

<%= form_for @url do |form| %>
    <p>LONG URL: <%= form.text_field :longURL %> </p>
    <%= form.submit 'ADD URL' %> 
<% end %> 