<header class="bg-black-90 w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
  <nav class="f6 fw6 ttu tracked">
    <a class="link dim white dib mr3" href="/" title="Home">Home</a>
    <a class="link dim white dib mr3" href="/sandbox" title="Sandbox">Sandbox</a>
    <a class="link dim white dib mr3" href="/employees/1" title="Employees">Employees</a>
    <a class="link dim white dib" href="/departments" title="Departments">Departments</a>
  </nav>
</header>
