* {
  margin:  0;
  padding: 0;
}

#header {
  font-size: 45px;
  text-align: center;
  padding: 70px;
  background-color: #2aadea;
  color: white;
  font-family: monospace;
}

.content {
  padding-right: 15%;
  padding-left:  15%;
}

.team {
  font-family: sans-serif;
  margin-top: 20px;
  font-size: 50px;
  margin-bottom: 100px;
}

.team h3 {
  margin-bottom: 45px;

}

.team p {
  font-size: 25px;
  line-height: 2;
}

.bio {
  width: 390px;
  opacity: 0.5;
}

.bio img {
  width: 100%;
  border-bottom: 2px solid red;
}

.bio p {
  opacity: 0;
}

.bio:hover {
  opacity: 1;
}

.bio:hover p {
  opacity: 1;
}

.bio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}