<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to our homepage</h1>
    <p1>You will find puppy memes here</p1>
    <h3>I know not everyone likes internet jokes but i live on reddit :( </h3>
</body>
</html>