<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puppies</title>
</head>
<body>
    <h1>Look at all the puppy memes</h1>
    <%= puppies %>
    <% for (let puppyImgLink of puppies) { %>
        <h1>Check out this picture!!!</h1>
        <img style="width: 300px; object-fit: cover;" src="<%= puppyImgLink %>"/>
    <% } %>
</body>
</html>