* {
    margin: 4px;
}

.red {
    color:red;
}

.card {
    border: 1px solid black;
    height: 150px;
    width: 100px;
}

.right {
    text-align: right;
}

.symbol {
    text-align: center;
    font-size: 70px;
}