<h1>Make new URL here!</h1>


<form method="POST" action="/urls">
    <p><input type="text" name="longURL"/></p>
    <button>Submit</button>
</form>

<%= form_for :url, url: '/urls' do |f| %>
    <p><%= f.text_field :longURL %> </p>
    <%= f.submit %>
<% end%>