<% if !@user %>
    <h1>All cats!</h1>
<% else %>
    <h1><%= @user.name %>
<% end %>

<%= text_field_tag 'search', nil, placeholder: 'Enter search term...', class:'HELLO'%>

<% @cats.each do |cat| %>
    <li><%= cat.name %> </li>
<% end %>
