<h1>Make Form!!</h1>

<form method="POST"  action="/urls">
    <p>Long URL<input type="text" name="longURL"/></p>
    <button>Submit!</button>
</form>

<%= form_for Url.new do |form|%>
    <p>Long URL<%= form.text_field :longURL %></p>
    <%= form.submit 'Submit!'%>
<% end %>