<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Programmer Memes of Today</h2>
    <% for (i in list) {%>
        <li>
            <p>
                <%= list[i].name %>
            </p>
            <img style="width: 150px; object-fit: cover;" src="<%= list[i].img %>" />
        </li>
        <% } %>
</body>

</html>