<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is meme for name
        <%= meme.name %>
    </h1>

    <img src="<%= meme.img %>" />
</body>

</html>

</html>