<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE MEME</title>
</head>

<body>
    <h2>Create a new meme right here!</h2>
    <form method="POST" action="/memes">
        <p>Meme Name: <input type='text' name='meme_name' /></p>
        <p>Meme URL: <input type='text' name='meme_url' /></p>
        <button>Add a Meme !!!</button>
    </form>
</body>

</html>