<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>
<body>
  <h3>Hi Everyone!!!! <%= numberOfVisits %></h3>
  <form method="POST" action="/login">
    <p>User: <input type="text" name="user"></p>
    <p>Pass: <input type="password" name="password"></p>
    <button>Login</button>
  </form>
</body>
</html>