* {
    margin: 0;
    padding: 0;
}

.layout {
    text-align: center;
}

.profile-img {
    margin-top: 12px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.content-1 {
  background-color: yellow;
}

.content-2 {
  background-color: red;
}

.content-3 {
  background-color: yellowgreen;
}

@media only screen and (min-width: 750px) {
    .profile-img {
        border-radius: 0;
        width: 100%;
        height: 285px;
    }

    .content-layout {
        display: flex;
        flex-direction: column-reverse;
    }

    .sub-content {
        display:flex;
    }
}