* {
    margin: 0;
    padding: 0;
}
.profile {
    text-align: center;
    margin-top: 20px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}


.content-a {
    background-color: skyblue;
}

.content-b {
    background-color:  salmon;
}

.content-c {
    background-color: slateblue;
}

@media only screen and (min-width: 800px) {
    .profile-pic {
        width:100%;
        height: auto;
        border-radius: 0;
        object-fit: contain;
    }

    .content-container {
        display:flex;
    }

    .layout {
        display:flex;
        flex-direction: column-reverse;
    }
}