* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.tc {
    text-align: center;
}

.margin5r {
    margin-bottom: 5rem;
}

.profile--img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
}

.about-me {
    background-color: darkgray;
}

.exp {

}

.skills {

}


@media screen and (min-width: 520px) {
    .profile--img {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        /* object-fit: cover; */
    }

    .about-me {
        margin-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
        background-color: transparent;
    }

    .layout {
        display: flex;
        flex-direction: row-reverse;
    }
}