* {
    margin: 0;
    padding: 0;

}

.nav {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
}

.nav--item {

}

/* min-width or max-width or both */
/*  <= 700px */
@media screen and (max-width: 700px) {

    * {
        font-size: 32px;
    }

    .nav {
        background-color: darkred;

    }
}


@media screen and (min-width: 800px) {
    .nav {
        background-color: goldenrod;
    }
}


@media screen and (max-width: 450px) {
    .nav {
        flex-direction: column;
        text-align: center;
    }
    
}