<h1> Url Create Form! </h1>


<form action="/urls" method="POST">
  <p>Long URL: <input type="text" name="longURL"/></p>
  <button>Add new URL!</button>
</form>


<%= form_for Url.new do |form| %>
  <p>Long URL: <%= form.text_field :longURL %> </p>
  <%= form.submit 'Add New URL!' %>
<% end %> 