img {
    height: 50000px; 
 }
 
 img.img-profile {
     border-radius: 50%;
     height: 150px;
     border: 2px solid;
     border-color: green;
 }
 
 .img-container {
     text-align: center;
 }

 .heading {
     background-color: goldenrod;
 }