<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <% if (user)  { %>
    <h1>Logged in as <%= user.email %></h1>
    <form method="POST" action="/logout">
      <button>Logout!</button>
    </form>
    <ul>
      <% for (let id in itemsArr) { %>
        <li><%= itemsArr[id].items%></li>
      <% } %>
    </ul>
    <% }  else { %>
      <h1>This is our Home Page :)</h1>
      <a href="/login">Login</a>
  <% } %> 
</body>
</html>