<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/login">
        <p>Name:<input type='text' name='username'/></p>
        <p>Pass:<input type='password' name='password'/></p>
        <p><button>Login!</button></p>
    </form>
</body>
</html>