<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form method="POST" action="/login">
        <p>Email:<input type="email" name="email"/></p>
        <p>Password:<input type="password" name="password"/></p>
        <button>Login!</button>
    </form>
</body>
</html>