<h1>Forum to create URL </h1>

<form method="POST" action='/urls'>
    <p>Long URL <input type="text" name="longURL"/></p>
    <button>Save!</button>
</form>


<%= form_for Url.new do |form| %>
    <p> Long URL <%= form.text_field :longURL %> </p>
    <%= form.submit 'Save!' %>
<% end %>