<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Make a fresh new Meme here</h1>
    <form method="POST" action='/memes'>
        <p>MEME URL:<input type="text" name="memeURL"/></p>
        <button>Submit</button>
    </form>

</body>
</body>
</body>
</html>