<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All The Memes Here!</h1>
    <% for (let meme in list)  { %>
        <img src="<%= list[meme] %>"></img>
        <form method="POST" action='/memes/<%=meme%>/delete'> <button>DELETE</button></form>
    <% } %>
</body>
</html>