* {
    margin: 0;
    padding: 0;
}

body {
    padding: 2px;
    font-size: 16px;
}

.box-a {
    border: 2px dashed lightgreen;
    font-size: 2em;
}

.box-b {
    border: 2px dashed salmon;
    font-size: 2em;
}

.box-c {
    border: 2px dashed blue;
    font-size: 2em;

}

.box-d {
    border: 2px dashed lightgreen;
    font-size: 2rem;
}

.box-e {
    border: 2px dashed salmon;
    font-size: 4rem;

}

.box-f {
    border: 2px dashed blue;
    font-size: 6rem;
}