* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}


.box-a {
    border: 2px dashed lightgreen;
    font-size: 2em;
}

.box-b {
    border: 2px dashed firebrick;
    font-size: 2em;
}

.box-c {
    border: 2px dashed darkblue;
    font-size: 2em;
}



.box-d {
    border: 2px dashed lightgreen;
    font-size: 2rem;
}

.box-e {
    border: 2px dashed firebrick;
    font-size: 2rem;
}

.box-f {
    border: 2px dashed darkblue;
    font-size: 2rem;
}
