* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

.box-a {
    border: 3px dashed red;
    font-size: 2em;
}

.box-b {
    border: 3px dashed green;
    font-size: 2em;
}

.box-c {
    border: 3px dashed yellow;
    font-size: 2em;
}

.box-d {
    border: 3px dashed firebrick;
    font-size: 2rem;
}

.box-e {
    border: 3px dashed limegreen;
    font-size: 2rem;

}

.box-f {
    border: 3px dashed skyblue;
    font-size: 2rem;
}

