<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
</head>
<body>
    <h1>This is my homepage!!</h1>
    <p> what do you all think of this home page?</p>
    <p>any questions?</p>
    <% const array = ["apple", 'banana']%>

    <%= array[0]%>
</body>
</html>