<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>Create a new mouse Here!</h1>
    <form method="POST" action="/mice">
      <p>enter mouse url: <input type="text" name="mouse_url"/></p>
      <button>Add a mouse to the list</button>
    </form>
</body>
</html>