<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Look at all the mice we have to offer!</h1>
  
  <% for (let key in mice) {%>
    <div>
      <img src="<%= mice[key] %>" style="width: 200px"/>
      <a href="/mice/<%= key %>">Click Here for more info</a>
    </div>
  <% } %>

</body>
</html>