<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>this is bananas! <%= PI %>  <%= number %></h1>
  <% const fruit = 'apple';%>
  <% const array = [1,2,3,4,5] %>
  <h2><%= fruit.toUpperCase() %> </h2>

  <% for (let value of array) { %>
    <h2>the value is <%= value %> </h2>
  <% } %>
</body>
</html>