<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cats!!!!!</h1>
    <p>My friend Susan has 2 cats and their names are:</p>
    <% for (let cat of locals.cats) { %>
        <li><%= cat %></li>
    <% } %>
</body>
</html>