<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cats</title>

</head>
<body>
  <h1>Look at all these Cats!</h1>
  <%= JSON.stringify(catsDatabase) %>
  <% for (let key in catsDatabase) { %>
    <img src="<%= catsDatabase[key] %>" style="width: 200px"/>
  <% } %>

  </body>
</html>