<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cats</title>
</head>
<body>
  <h2>Cats list</h2>
  <ul>
  <% for (let i in cats) { %>
    <li><a href="/cats/<%= i %> "><%= cats[i] %></a></li>
  <% } %>
  </ul>
</body>
</html>