<h1>FRUITS PAGE :D </h1>

<% for (let i = 0; i < fruits.length; i++) { %>
    <li><b><i><%= fruits[i] %></i></b></li> 
<% } %>


<% if (true) { %>
    <h1>Thank you for logging in!</h1>
<% } else { %>
   <p>Please log in here :)</p> 
<% } %>