<body>
    <h1>Hello World</h1>
    <p>This is my home page! welcome. i hope it looks good </p>
    <h2>Never Gonna Give you Up!</h2>
    <p>This is way eaiser to work with rather than a giant file</p>
    <% if (true) {%>
        <h1>This statement was true!!!</h1>
    <% } %>
</body>