<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>You are <%= counter %></h1>
  <h1>Welcome to my website</h1>

  <p>this is my website. it has information on it.</p>
  
  <p>there are other pages.</p>
  <%= 8 + 4 %>
  <% if (true) { %>
    <h1>This was true </h1>
  <% } %>
</body>
</html>