<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to my home page!</h1>
  <a href="/cats">Cats</a>
  <h2>My Morning List</h2>
  <ul>
     <li>do a lecture</li>
     <li>eat breakfest</li>
     <li>check on finals</li>
  </ul>
</body>
</html>