<html>
  <head>

  </head>
  <body>
    <h1>Welcome to my Awesome Homepage</h1>
    <h2>Now its better with EJS because its a seperate file</h2>
    <p> with this i dont need to keep editing server each time, and everything is seperated</p>

    <ul>
      <li> one </li>
      <li> one </li>
      <li> one </li>
      <li> one </li>
      <li> one </li>
      <li> one </li>
      <li> one </li>
      <li> one </li>
      <li> one </li>
    </ul>
  </body>
</html>