<html>
  <head>

  </head>
  <body>
    <h1>Hello World</h1>
    <p>
      this is my home page, welcome!
    </p>
    <% if (1 == 1 ) {%>
      <% const a = 3; %>
      <% const b = 4; %>
      <h4><%=  a + b%></h4>
    <% } %>
  
    <% const arr = [1,2,3] %>
  
    <ul>
    <% for (let num of arr) { %>
       <li> <%= num %> </li>
    <% } %>
    </ul>
  </body>
</html>