<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats Resume</title>
    <link rel="stylesheet" href="styles/style.css"/>
    <link rel="stylesheet" href="styles/image-profile.css"/>
</head>
<body>

    <h1 class="heading">This is where we will write a cats resume!</h1>
    <div class="img-container">
        <img 
            class="img-profile"
            src="https://images-cdn.9gag.com/photo/abGEbPr_700b.jpg"
            alt="picture of cat"
            width="150"
        />
    </div>
    <p>My cat's name is <mark><strong><i>Rosy</i></strong></mark>. This cat is very agile.</p>

    <div>
        <h1 class="img-profile">My cat's top skills are:</h1>
        <ul id="unordered-list">
            <li>eating</li>
            <li>sleeping</li>
            <li>attacking my furnature</li>
            <li>not falling from heights</li>
        </ul>
    </div>
</body>
</html>