* {
    margin: 0;
    padding: 0;
}

.content-one {
    background-color: lightgreen;
    flex-basis: 0;
    flex-grow: 1;
}

.content-two {
    background-color: lightskyblue;
    flex-basis: 0;
    flex: 7;
}

.container {
    display: flex;
}

.doggo-img {
    width:100%;
}

@media only screen and (max-width: 900px) {
    body {
        text-align: center;
    }
    .container {
        flex-direction: column-reverse;
    }
    .content-one {
        background-color: magenta;
    }

    .doggo-img {
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid green;
    }

}