* {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.profile {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid cornflowerblue;
}

.nav-item {
  background-color: cornflowerblue;
  text-align: center;
  padding: 5px;
  margin: 1px;
}

.p-content {
  padding-bottom: 1rem;
}


@media screen and (min-width: 700px) {
  .navbar {
    display: flex;
  }
  .nav-item {
    flex-grow: 1;
  }

  .profile-img {
    border-radius: 0;
    height: auto;
    width: 100%;
  }

  .bio-content {
    display: flex;
  }
}