* {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.nav {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.nav--menu-item { 
  background-color: darkblue;
  padding: 10px;
}

.nav--menu-item:hover {
  background-color: lightskyblue;
}

.profile {
  text-align: center;
}

.profile--img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid limegreen;

}

@media screen and (min-width: 850px){
  .nav {
    flex-direction: row;
  }
  .nav--menu-item { 
    flex-grow: 1;
  }

  .profile--img {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 0%;
  }

  .p-layout {
    margin-top: 30px;
    display: flex;
    margin-bottom: 30px;
  }
}