<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Home Page - User Auth</h1>
  <% if (email)  { %>
      <h1>You are logged in as <%= email %> </h1>
      <form method="POST" action="/logout">
        <button>Logout</button>
      </form>
    <% } else { %>
      <a href="/login">Click here to Login</a>
    <% } %>
</body>
</html>