<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to my Homepage!</h1>
  <% if (user) { %>
    <p>you are logged in as <%= user.email %> </p>
    <form method="POST" action="/logout">
      <button>Logout</button>
    </form>
  <% } else { %>
    <p>we will work on login/register today</p>
    <a href="/login">Click here to Login</a>
    <a href="/register">Click here to Register</a>
  <% } %>
</body>
</html>