<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
    <h1>Login Here!</h1>
    <form method="POST" action="/login">
      <p>email: <input type="email" name="email"/></p>
      <p>pass:  <input type="password" name="pass"/></p>
      <button>Login!</button>
    </form>
</body>
</html>