<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Hello world</h1>

  <p>
    welcome to my home page
    this is an awesome home page
  </p>
  
  <div>invisible divider</div>
  <ol>
    <li>a</li>
    <li>b</li>
    <li>c</li>
    <li>d</li>
    <li>e</li>
    <li>f</li>
  
  </ol>
  
</body>
</html>