<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Single Mug!</h1>
  <% if ( mug ) { %>    
    <h1><%= mug.name %></h1>
    <img src="<%= mug.imgUrl%> " style="width: 200px;"/>
  <% } else { %>
    <h2>Mug does not exist!</h2>
  <% } %>
</body>
</html>